# dependencies
fastapi
uvicorn[standard]
python-multipart

# pipeline
flask
playwright
Unidecode
PyYAML
happybase
pytz
APScheduler
SQLAlchemy

# JWT & Auth
fastapi-jwt-auth[asymmetric]
passlib

# database
motor
beanie

# development (linter, formating, ...)
black
isort
pytest
